﻿.container {
    text-align: center;
}

.center-div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.FizzbuzzString {
    padding: 7px;
}

.tr, td {
    padding: 7px;
}

p[fizzbuzzString="Wizz"], p[fizzbuzzString="Wuzz"], p[fizzbuzzString="WizzWuzz"] {
    color: blue;
}
